<p>Здравствуйте, <b>@Model.FullName</b>!</p>
<p>Пароль вашей учётной записи в системе ТАНСУ был сброшен администратором.</p>
<p>
    <b>Email:</b> @Model.Email<br />
    <b>Новый временный пароль:</b> <code>@Model.TemporaryPassword</code>
</p>
<p>
    Войдите по адресу
    <a href="@Model.LoginUrl">@Model.LoginUrl</a>
    и смените пароль при первом входе.
</p>
